.footer-main-div{
	width: auto;
	height: auto;
	margin: auto;
	background: #222;
	padding: 10px 0px;
}

.footer-bottom p{
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	text-align: left;
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-bottom p a{
	color: white;
}
.footer-bottom p a:hover{
	color: #222;
