.video  {
}
.main-header-div h2{
	padding: 5px;
	text-align: center;
}
.p1{
	padding-top: 10px;
	padding-bottom: 10px;
}
.main-header-div{
	width: 900;
	height: auto;
	margin:auto;
}
.main-header{
	width: 900;
	height: 700;
	margin: auto;
	background: #222;

}
.main h2 {
	padding: 30px;
	padding-top: 60;
}
.text {

	font-family: "calibri", Garamond, 'Comic Sans MS';
	font-weight: bold;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.txt {
	padding-bottom: 50;
	font-family: "calibri", Garamond, 'Comic Sans MS';
	font-weight: bold;
}
